<header class="container header-box">
  <nav class="nav-box">
    <div class="logo-box">
      <a class="logo-link" href="./index.html"> Product</a>
    </div>
    <button class="btn-mob-menu" type="button"></button>
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link" href=""
          ><span class="text-semibold">Product</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./customers.html">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./pricing.html">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Resources</a>
      </li>
    </ul>
  </nav>
  <ul class="button-list">
    <li class="button-item">
      <button class="btn-header btn-transparent" type="button">Sign In</button>
    </li>
    <li class="button-item">
      <button class="btn-header" type="button">Sign Up</button>
    </li>
  </ul>
</header>
