.header-box {
  padding: 17px 27px 17px 32px;
}

@media only screen and (min-width: 1150px) {
  .header-box {
    padding: 22px 20px;
    display: flex;
    align-items: center;
  }
}

.nav-box {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
}

.logo-box {}

.logo-img {}

.logo-link {
  display: inline-flex;
  gap: 8px;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 93%;
  color: #173a56;
}

.btn-mob-menu {
  border: none;
  background-color: transparent;
  padding: 0;
}

@media only screen and (min-width: 1150px) {
  .btn-mob-menu {
    display: none;
  }
}

.nav-list {
  display: none;
}

@media only screen and (min-width: 1150px) {
  .nav-list {
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 237px;
  }
}

.text-semibold {
  font-weight: 600;
}

.nav-item {}

.nav-link {
  line-height: 175%;
  color: #22343d;
}

.button-list {
  display: none;
}

@media only screen and (min-width: 1150px) {
  .button-list {
    display: flex;
    gap: 21px;
  }
}

.button-item {}

.btn-header {
  border-radius: 4px;
  background: #02897a;
  cursor: pointer;
  border: none;
  font-weight: 600;
  color: #fff;
  padding: 9px 25px;

}

.btn-transparent {
  border: 1px solid #bcd0e5;
  background-color: transparent;
  font-weight: 600;
  color: #173a56;
}